################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lock
/.vs/Direct/v15/Server/sqlite3/storage.ide
/.vs/Direct/v15/Server/sqlite3/storage.ide-shm
/.vs/Direct/v15/Server/sqlite3/storage.ide-wal
